﻿@model MessageConsumer.Models.MessageViewModel
@{
    ViewBag.Title = "Home Page";
}
<head>
    <title></title>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
</head>
<div class="jumbotron">

        <h4>Sort messages by date</h4>
        <p class="lead">From: <input type="date" class="startDate"/> To: <input type="date" class="endDate" /></p>

        <input type="button" onclick="Sort();" value="Sort!"/>
    
 
</div>

<div id="messagesList" class="row">
    <h2>All messages</h2>
    @foreach (var message in Model.MessageList)
    {
        if (message.Title != string.Empty && message.Content != string.Empty)
        {
            <div class="col-md-4">
                <h2>@message.Title</h2>
                <h4>Sent: @message.TimeStamp</h4>
                <p>@message.Content</p>
            </div>
        }

    }
</div>

<script type="text/javascript">
    function Sort() {
        var start = $('.startDate').val();
        var end = $('.endDate').val();
        var url = "/Home/Index/";
            $.post(url, { startDate: start, endDate: end }, function(data) {
                $('.body-content').html(data);
            });
    }    
</script>